@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
#root
{

  min-height: 100vh;
  display: flex;
}
.dark-theme
{
    font-size: 17px;
    background-color: #333;
     color: #c8d0d8;
    transition: 0.2s all ease-in-out;
}